* {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.banner img {
    width: 100%;
}

.banner-mobile {
    display: none;
}

.titulo-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}



.multi-banner-desktop {
    display: flex;
    background-color: black;
}

.multi-banner-quadrado-desktop a img {
    width: 100%;
}

.multi-banner-quadrado-desktop a img:hover {
    opacity: 0.7;
    transition: 0.3s;
}

.multi-banner-mobile {
    display: none;
}

.multi-banner-quadrado-mobile a img {
    width: 99%;
}

/* .multi-banner-texto {
    width: 100vw;
    height: 15vh;
    display: flex;
}

.multi-banner-texto-quadrado {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 25%;
    height: 110%;
}

.multi-banner-texto-quadrado a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
    font-weight: 600;
    background-color: rgb(0, 0, 0);
    width: 40%;
    height: 30%;
}

.multi-banner-texto-quadrado h2 {
    margin-bottom: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}  */


@media screen and (max-width: 820px) {
    .banner-mobile {
        display: block;
    }

    .banner-desktop {
        display: none;
    }

    .titulo-banner {
        font-size: 0.8rem;
        margin-top: 1rem;
    }

    .multi-banner-desktop {
        display: none;
    }

    .multi-banner-mobile {
        display: flex;
    }

    .carousel-prev ion-icon,
    .carousel-next ion-icon {
        font-size: 1.5rem;
        /* Reduzindo o tamanho para telas menores */
    }

}

.carousel-size {
    position: relative;
    margin: 0 auto;
    width: 65%;
    margin-bottom: 4rem;
}

.carousel-container {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    width: 85%;
}

.carousel {
    display: flex;
}

.card {
    flex: 0 0 calc(25% - 1rem);
    /* Adiciona espaço entre as cartas */
}

.card:not(:last-child) {
    margin-right: 1rem;
    /* Espaçamento entre as imagens, exceto para a última carta */
}

.card a {
    color: black;
    cursor: pointer;
    font-size: 0.95rem;
}

.card img {
    height: auto;
    width: 100%;
}

.card hr {
    border-color: blueviolet;
}

.card span{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 0.5rem;
    max-width: 250px;
}

.carousel-prev ion-icon,
.carousel-next ion-icon {
    cursor: pointer;
    font-size: 3rem;
    opacity: 0.4;
}

.carousel-prev {
    transform: translateY(-50%);
    background: transparent;
    position: absolute;
    border: none;
    top: 50%;
    left: 2rem;
}

.carousel-next {
    transform: translateY(-50%);
    background: transparent;
    position: absolute;
    border: none;
    top: 50%;
    right: 3rem;
}

ion-icon:hover {
    transition: 0.3s;
    opacity: 1;
}







/* footer{
    margin-top: 15%;
    padding: 2rem;
    background-color: bisque;
} */