* {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

/* BANNER */
.banner img {
    width: 100%;
}

.banner-mobile {
    display: none;
}

.titulo-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/* BANNER */

/* 7 - BANNERS */

.track-banner {
    display: flex;
    position: relative;
    left: -15%;
    margin-top: -1rem;
}

.card-track {
    position: relative;
    flex: 0 0 calc(26%);
}

.card-track a {
    color: black;
    cursor: pointer;
    font-size: 0.95rem;
}

.card-track img {
    width: 100%;
    height: auto;
}

.card-track:not(:last-child) {
    margin-right: 0.5rem;
}

.card-track-texto {
    position: relative;
}

.card-track-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.card-track-texto a {
    background-color: black;
    font-weight: bolder;
    color: white;
    padding: 0.8rem 3.5rem;
    font-size: 0.9rem;
    margin-top: 1rem;
}

.track-prev ion-icon,
.track-next ion-icon {
    cursor: pointer;
    font-size: 3rem;
    opacity: 1;
    background-color: white;
    border-radius: 2rem;
    padding: 0.5rem;
}

.track-prev {
    background: transparent;
    position: absolute;
    border: none;
    margin-top: -22rem;
    left: 3rem;
    opacity: 1;
}

.track-next {
    background: transparent;
    position: absolute;
    border: none;
    margin-top: -22rem;
    right: 3rem;
    opacity: 1;
}

/* 7 - BANNERS */

/* CARROSEL */
.carousel-size {
    position: relative;
    margin: 0 auto;
    width: 65%;
    margin-bottom: 4rem;
}

.carousel-container {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    width: 85%;
}

.carousel {
    display: flex;
}

.card {
    flex: 0 0 calc(25% - 1rem);
}

.card:not(:last-child) {
    margin-right: 1rem;
}

.card a {
    color: black;
    cursor: pointer;
    font-size: 0.95rem;
}

.card img {
    height: auto;
    width: 100%;
}

.card hr {
    border-color: blueviolet;
}

.card span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 0.5rem;
    max-width: 250px;
}

.carrosel-prev ion-icon,
.carrosel-next ion-icon {
    cursor: pointer;
    font-size: 3rem;
    opacity: 0.4;
}

.carrosel-prev {
    transform: translateY(-50%);
    background: transparent;
    position: absolute;
    border: none;
    top: 50%;
    left: 2rem;
}

.carrosel-next {
    transform: translateY(-50%);
    background: transparent;
    position: absolute;
    border: none;
    top: 50%;
    right: 3rem;
}

ion-icon:hover {
    transition: 0.3s;
    opacity: 1;
}

/* CARROSEL */



@media screen and (max-width: 1280px) {

    /* Notebook */
    .carousel-container {
        width: 95%;
    }

    .carrosel-prev {
        left: -2.5rem;
    }

    .carrosel-next {
        right: -2rem
    }
}

@media screen and (max-width: 840px) {
    /* Tablet */

    .banner-mobile {
        display: block;
    }

    .banner-desktop {
        display: none;
    }

    .titulo-banner {
        font-size: 0.8rem;
        margin-top: 1rem;
    }

    .multi-banner-desktop {
        display: none;
    }

    .multi-banner-mobile {
        display: flex;
    }

    .carrosel-prev ion-icon,
    .carrosel-next ion-icon {
        font-size: 3rem;
    }

    .carrosel-prev {
        left: -3rem;
    }

    .carrosel-next {
        right: -3rem;
    }

    .carousel-container {
        width: 100%;
    }

}

@media screen and (max-width: 430px) {

    /* Smartphone */
    .carousel-container {
        width: 90%;
    }
}




footer {
    margin-top: 25%;
    padding: 2rem;
    background-color: bisque;
}